docs/n8n-workflow.cron-test.visutrade.json
{
  "name": "VisuTrade_Final_v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 1 }]
        }
      },
      "id": "Schedule_Trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=15m&limit=100",
        "options": {}
      },
      "id": "Fetch_Binance",
      "name": "Fetch Binance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst rows = items[0].json;\n\n// Veri gelmediyse veya boşsa dur\nif (!rows || !Array.isArray(rows) || rows.length < 20) {\n    throw new Error(\"Binance'den veri alınamadı!\");\n}\n\nconst period = 14;\n// Kapanış fiyatlarını güvenli bir şekilde al\nconst closes = rows.map(r => parseFloat(r[4])).filter(v => !isNaN(v));\n\nlet gains = 0, losses = 0;\nfor (let i = closes.length - period; i < closes.length; i++) {\n    let diff = closes[i] - closes[i - 1];\n    if (diff >= 0) gains += diff;\n    else losses += Math.abs(diff);\n}\n\nlet rsi = losses === 0 ? 100 : 100 - (100 / (1 + (gains / losses)));\nlet price = closes[closes.length - 1];\nlet prev = closes[closes.length - 2];\nlet move = ((price - prev) / prev) * 100;\n\n// Veriler sayı değilse hata fırlat (Backend'e boş gitmesin)\nif (isNaN(price) || isNaN(rsi)) {\n    throw new Error(\"Hesaplama hatası: Fiyat veya RSI bulunamadı.\");\n}\n\nreturn [{\n    json: {\n        symbol: \"BTCUSDT\",\n        price: Number(price.toFixed(2)),\n        rsi: Number(rsi.toFixed(2)),\n        is_bearish: rsi < 35 || move < -0.2,\n        is_bullish: rsi > 65 || move > 0.2,\n        panic_score: move < -1.5 ? Number((Math.abs(move) * 10).toFixed(2)) : 0\n    }\n}];"
      },
      "id": "Calculate_Logic",
      "name": "Calculate Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-trade.visupanel.com/api/signals",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "symbol", "value": "={{$json.symbol}}" },
            { "name": "price", "value": "={{$json.price}}" },
            { "name": "rsi", "value": "={{$json.rsi}}" },
            { "name": "is_bearish", "value": "={{$json.is_bearish}}" },
            { "name": "is_bullish", "value": "={{$json.is_bullish}}" },
            { "name": "panic_score", "value": "={{$json.panic_score}}" }
          ]
        },
        "options": {}
      },
      "id": "Send_Signal",
      "name": "Send Signal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": { "main": [[{ "node": "Fetch Binance", "type": "main", "index": 0 }]] },
    "Fetch Binance": { "main": [[{ "node": "Calculate Logic", "type": "main", "index": 0 }]] },
    "Calculate Logic": { "main": [[{ "node": "Send Signal", "type": "main", "index": 0 }]] }
  }
}
