docs/n8n-workflow.cron-test.visutrade.json
{
  "name": "VisuTrade Cron Test -> Binance REST -> Backend Signals",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "Schedule_Trigger",
      "name": "Schedule Trigger (1m)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        220,
        280
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.binance.com/api/v3/klines?symbol=BTCUSDT&interval=15m&limit=200",
        "options": {}
      },
      "id": "Fetch_Binance_Klines",
      "name": "Fetch Binance Klines (15m, 200)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        460,
        280
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const period = 14;\nconst panicThreshold = 2.0;\n\nconst out = [];\nfor (const item of $input.all()) {\n  const rows = item.json;\n\n  if (!Array.isArray(rows) || rows.length < period + 1) {\n    throw new Error(`Klines response is too short for RSI(${period}): ${JSON.stringify(rows).slice(0, 300)}`);\n  }\n\n  const closes = rows\n    .map((r) => Number(Array.isArray(r) ? r[4] : undefined))\n    .filter((v) => Number.isFinite(v) && v > 0);\n\n  if (closes.length < period + 1) {\n    throw new Error(`Not enough valid close prices for RSI(${period})`);\n  }\n\n  let gain = 0;\n  let loss = 0;\n  const start = closes.length - (period + 1);\n  for (let i = start + 1; i < closes.length; i++) {\n    const diff = closes[i] - closes[i - 1];\n    if (diff >= 0) gain += diff;\n    else loss += Math.abs(diff);\n  }\n\n  const avgGain = gain / period;\n  const avgLoss = loss / period;\n  const rsi = avgLoss === 0 ? 100 : (100 - 100 / (1 + avgGain / avgLoss));\n\n  const price = closes[closes.length - 1];\n  const previous = closes[closes.length - 2];\n  const movePct = previous > 0 ? ((price - previous) / previous) * 100 : 0;\n\n  const isBearish = movePct <= -0.15 || rsi < 35;\n  const isBullish = movePct >= 0.15 || rsi > 65;\n  const panicScore = movePct <= -panicThreshold ? Math.min(100, Math.abs(movePct) * 20) : 0;\n\n  out.push({\n    json: {\n      symbol: 'BTCUSDT',\n      price: Number(price.toFixed(2)),\n      rsi: Number(rsi.toFixed(2)),\n      is_bearish: isBearish,\n      is_bullish: isBullish,\n      panic_score: Number(panicScore.toFixed(2)),\n    },\n  });\n}\n\nreturn out;",
        "mode": "runOnceForAllItems"
      },
      "id": "Build_Signal_Payload",
      "name": "Build Signal Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        280
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-trade.visupanel.com/api/signals",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "price",
              "value": "={{$json.price}}"
            },
            {
              "name": "rsi",
              "value": "={{$json.rsi}}"
            },
            {
              "name": "is_bearish",
              "value": "={{$json.is_bearish}}"
            },
            {
              "name": "is_bullish",
              "value": "={{$json.is_bullish}}"
            },
            {
              "name": "panic_score",
              "value": "={{$json.panic_score}}"
            }
          ]
        },
        "options": {}
      },
      "id": "POST_Backend_Signal",
      "name": "POST Backend /api/signals",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        280
      ]
    }
  ],
  "connections": {
    "Schedule Trigger (1m)": {
      "main": [
        [
          {
            "node": "Fetch Binance Klines (15m, 200)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Signal Payload": {
      "main": [
        [
          {
            "node": "POST Backend /api/signals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Binance Klines (15m, 200)": {
      "main": [
        [
          {
            "node": "Build Signal Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
